# dependencies
/node_modules
/.pnp
.pnp.js

# next.js build output
/.next/
/out/
/dist/

# mastra/ai sdk cache/logs
/mastra/
*.log

# environment files
# .env
# .env.local
# .env.development.local
# .env.test.local
# .env.production.local
.env*
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
.gitignore
.gitignore
.gitignore
terraform/.terraform/providers/registry.terraform.io/hashicorp/google/7.12.0/darwin_arm64/LICENSE.txt
terraform/.terraform/providers/registry.terraform.io/hashicorp/google/7.12.0/darwin_arm64/terraform-provider-google_v7.12.0_x5
